/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap'); */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	
	/* --light: #f8f9fa; */

	--light:#F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #0a0a0a;
	/* --dark: #342E37; */
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--brown:rgba(165, 42, 42, 0.904);
	--text-primary:#007bff;
	--whiteBg:#FFF;
    --modalBg:#FFF;
	--inputColor:#495057;
	--greyFont:#777;
	--bluePrint:rgb(19, 62, 204);
	/* --borderColor:#dee2e6; */
	--borderColor:#cecece;
	--list-primary-color:#004085;
	--list-primary-Bg:#b8daff;
	--list-primary-hover:#9fcdff;
	--light-hover:#e2e6ea;
	--active:#dae0e5;
	--cust-select:#e9ecef;
    --bg-info:#bee5eb;
}

html {
	overflow-x: hidden;
	/* --light: #f8f9fa; */
}



body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #c4c4c4;
	--brown:rgb(255, 75, 75);
    --whiteBg:#06070f;
	--modalBg:#0C0C1E;
	--inputColor:#aab8c5;
	--greyFont:#a8a8a8;
	--bluePrint:rgb(44, 93, 253);
	--borderColor:#818181;
	--light-blue: #2a3846;
	--list-primary-Bg:#192535b7;
	--list-primary-color:#b0bcca;
	--list-primary-hover:#011427;
	--light-hover:#000000;
	--active:#0a0a0a;
	--cust-select:#0c0c0c;
	--bg-info:#2f3a3b62;
}



body {
	background-color:var(--grey);
	overflow-x: hidden;
	color:var(--dark);
	font-size: 1em !important;
	font-weight: 400;
	

}

.icon-svg{
	fill: var(--text-primary);
}

h1,h2,h3,h5,h6,label{
	color:var(--dark)
}


.made-input{
	background-color: var(--whiteBg);
	color:var(--inputColor)
}

.show_curency{
	background:var(--light);
		-webkit-box-shadow: 0px 0px 5px 1px rgba(71,0,32,0.19);
		-moz-box-shadow: 0px 0px 5px 1px rgba(71,0,32,0.19);
		box-shadow: 0px 0px 5px 1px rgba(71,0,32,0.19);
	border-radius: 5px;
	display:inline-block;
	padding:6px;
	z-index: 33333;
	}

	
.show_curency_block{
    margin-top:-25px;
    right:22px;


}

.show_curency_inline{
    margin-top:-50px;
    right:22px;


}
.show_curency_blockt{
    margin-top:-50px;
    margin-left:10px;


}



.show_curency label{
    font-size:17px;
    font-weight: 500;
}

.box-pointer{
    height: 10px;
    min-width:10px;
    bottom:-6px;
    transform: rotate(45deg);
    border-bottom:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
    position: absolute;
    right: 11px;
    background:var(--light)

}

.bluePrint{
color: var(--bluePrint) !important; 
}

.selectpicker.bluePrint{
  background-color: var(--dark-grey) !important;
}

.tabs_menu a{
	color:var(--dark-grey)
}

.tabs_menu a:hover{
	color: var(--bluePrint) !important;
}


.activetab{
	color: var(--text-primary) !important;
}


/* 
#tabanimations */

.classic-tabs .nav li a.active {
	color: var(--bluePrint); 
	}
	.classic-tabs .nav li a {
	color: var(--greyFont); 
	}
	.tabs-chili-pepper {
	background-color: var(--whiteBg); 
	}
	.classic-tabs .nav.tabs-animated li a.active {
	border: none;
		}
	.classic-tabs  .floor {
	background-color: rgb(27, 95, 221);
		}


	.bgAnimation {

		background-color: #fff;
		animation-name: bganime;
		animation-duration: 1.3s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		}
		
		@keyframes bganime {
		from {background-color: #fff;}
		to {background-color: rgb(162, 231, 93);}
		}




.box-pointert{
    height: 10px;
    min-width:10px;
    bottom:-6px;
    transform: rotate(45deg);
    border-bottom:1px solid rgb(204, 204, 204);
    border-right:1px solid rgb(204, 204, 204);
    position: absolute;
    left:11px;
    background:var(--light)
}


.lightBg{
	background-color: var(--light);
}

.content_div{
	min-height: 85vh;
	background-color: var(--light);

}

.table-bordered tbody tr td{
	padding-left:.5em !important;
}

.the_invo_page{
    
    -webkit-box-shadow: 0px 0px 8px -4px var(--dark); 
     box-shadow: 0px 0px 8px -4px var(--dark);
  
  }

.cursor-pointer{
	cursor: pointer !important;
}

/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 5;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}

#sidebar::state(webkit-scrollbar) {
	display: none;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 40px;
	display: flex;
	justify-content: center;
	color:#2563eb;
	
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 10px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}

.fontColor{
	color:var(--dark)
}

.brown{
   color: var(--brown) !important;
}

#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */

a:hover{
  text-decoration: none  !important;
}

#lugha{
   border-color: var(--dark-grey);
   font-size: 14px;
   background-color: var(--light);
   color: var(--dark);
}

td .form-control{
	min-width: 120px;
}

/* CONTENT */
#content {
	position: relative;
	
	transition: .3s ease;
	background-color: var(--grey);
	height: 100vh;
}

.text-center{
	text-align: center;
}

.classic_div{
	margin-left: auto;
	margin-right: auto;
}



/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 14px;
	display: flex;
	align-items: center;
	grid-gap: 14px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}

#content nav .nav-link {
	font-size: small;
	transition: .3s ease;
}
/* 
#content nav .nav-link:hover {
	color: var(--light);
} */

#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	border:2px solid var(--grey);
}
#colorMode .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#colorMode .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#colorMode #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	max-width: 100vw;
	padding: 36px 10px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	overflow-x: hidden;
	
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h4 {
	/* font-size: 36px; */
	/* font-weight: 600; */
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	background-color: var(--light);
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}

.smallFont{
	font-size:.94em
}

.smallerFont{
	font-size:smaller
}



#content main .table-data {
	/* display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 5px; */
	/* max-width: 100vw; */
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	/* padding: 24px; */
	/* overflow-x: auto; */
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	/* flex-basis: 500px; */
	max-width: 100vw;
}
#content main .table-data .order table {
	min-width: 100%;
	/* border-collapse: collapse; */
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}



#content main .table-data .order table td {
	padding:7px 4px;
	text-wrap:unset;
}


#content main .table-data .order table.isSmall td{
	padding:5px  !important;
}  

.nested-table thead tr th, .nested-table tbody tr td {
      border: 1px solid #dee2e6;
      padding: 4px;
      text-align: center;
    }
/* #content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
} */
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}

.grey{
	background: var(--grey) !important;
}

 .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
	text-wrap: nowrap;
}

span.optionbtns{
	display: flex;
	/* width:62px; */
	border-radius: .2em;
}
span.optionbtns button.btn_option,.tank_btn_option{
	/* width:3em; */
	color:var(--dark-grey);
	/* height:1.9em; */
	font-size:.9em;
	width:50%;
	/* padding-bottom: 15px !important; */
	/* display: flex; */
	/* justify-content: center;*/
	align-items: center; 
	border:0;
	border-radius: 0 !important;
	

}

span.text-primary{
	font-size: smaller;
}



span.optionbtns button.btn_option:focus{
	border:0;
	border-color: #ccc;
}

span.optionbtns .btn_option.active, .tank_btn_option.active{
   background-color:var(--text-primary);
   color:var(--light)
}

#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}

.status.completed {
	background: var(--blue);
}
.status.process {
	background: var(--yellow);
}
.status.pending {
	background: var(--orange);
}

.green{
	color:rgb(0, 128, 6)
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */



    #sidebar.hide #colorMode {
      display: none;
    }





@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	.listin{
		display: none;
	}

	/* #content nav .nav-link {
		display: none;
	} */
}


.redborder{
	border-color:red !important;
  }

  
.lassic_div{
    margin-left: auto;
    margin-right: auto;
}

.weight600{
    font-weight: 600;
}

.weight500{
    font-weight: 500;
}

.weight200{
    font-weight: 200;
}

.weight100{
    font-weight: 100;
}

.weight400{
    font-weight: 400;
}

.weight300{
    font-weight: 300;
}

.weight700{
    font-weight: 700;
}

.form-control:focus{
    box-shadow: inset 0 -1px 0 rgb(255, 255, 255);
}




@media screen and (min-width: 576px) {
	#content main .table-data > div {
		padding:24px;
	}
}


@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}
	#content main .table-data > div {
		padding:10px;
	}
	.table-sm-responsive{
		overflow-x: auto;
	}

	/* .table-sm-responsive div.row{
		min-width:420px ;
	}
	 */

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

 /** SPINNER CREATION **/

 .lds-ring {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 3px solid #3366cc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #3366cc transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .switch {
	position: relative;
	display: inline-block;
	width: 42px;
	height: 16px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 12px;
	width: 12px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  /* FOR REPORT */
  .DetailsTable{
	display: none;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}