
{% extends 'index.html' %}
{% load static %}
{% block page_content %}

{% load humanize %}

<div class="head-title">
    <div class="left">
        
        {% include 'heading.html' %}
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </li>
            <li>
                <a class="active" href="#"> {% if useri.langSet == 0 %}Wateja{% else %} Customers{% endif %}</a>
            </li>
        </ul>
    </div>
    
<!-- 
<a href="#" class="btn-download">
    <i class='bx bxs-cloud-download' ></i>
    <span class="text">Download PDF</span>
</a> -->
{% if not general %}
{% if useri.admin or useri.cust %}
  <button data-toggle="modal" data-target="#wateja-modal" id="addCustombtn" class="btn btn-default btn-download">
      <!-- <i class='bx bxs-cloud-download' ></i> -->
      <span class="text"> {% if useri.langSet == 0 %} Ongeza Mteja{% else %}Add Customer{% endif %}</span>
  </button>
{% endif %}
{% endif %}

</div>

<div class="table-data">
    <div class="order">
      {% include 'headingInvoice.html' %} 
      <div class="head">
        <h4>

          <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" style="fill: currentColor;">
            <path d="M9.5 12c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm1.5 1H8c-3.309 0-6 2.691-6 6v1h15v-1c0-3.309-2.691-6-6-6z"></path>
            <path d="M16.604 11.048a5.67 5.67 0 0 0 .751-3.44c-.179-1.784-1.175-3.361-2.803-4.44l-1.105 1.666c1.119.742 1.8 1.799 1.918 2.974a3.693 3.693 0 0 1-1.072 2.986l-1.192 1.192 1.618.475C18.951 13.701 19 17.957 19 18h2c0-1.789-.956-5.285-4.396-6.952z"></path></svg>
          
          {% if useri.langSet == 0 %}Wateja Muhimu{% else %}Important customers{% endif %}</h4>
        <!-- <i class='bx bx-search' ></i>
        <i class='bx bx-filter' ></i> -->
      </div>

      <div class="weight600 row mb-4 classic_div" >
           <div class="col-md-6 ">
             <div class="row py-2 border" style="margin:auto .09em;" >
                <div class="col-6">
                      {% if useri.langSet == 0 %}Madeni Jumla{% else %}Total Debt{%endif%}
                </div>
                <div class="col-6 brown text-right">
                    <span class="text-primary">{{currencii}}.</span> {{madeni|floatformat:'-2'|intcomma}}
                </div>              
             </div>

           </div>

          <div class="col-md-6">
            <div class="row py-2 custom-margin">
              <div class="col-6 text-right">
                {% if useri.langSet == 0 %} Kituo{% else %} Station{% endif %}
              </div>
              <div class="col-6">
                <select class="form-control form-control-sm" id="station-selector" title="{% if useri.langSet == 0 %}Chagua Kituo{% else %}Select Station{% endif %}">
                  {% if  not kituo %}
                    <option value="all" selected>{% if useri.langSet == 0 %}Vituo Vyote{% else %}All Stations{% endif %}</option>
                    {% for station in stations %}
                      <option value="{{station.id}}">{{station.name}}</option>
                    {% endfor %}
                  {% else %}
                    <option value="{{kituo.id}}" selected>{{kituo.name}}</option>
                    {% if useri.admin or useri.ceo %}
                     
                      {% for station in stations %}
                        {% if station.id != kituo.id %}
                          <option value="{{station.id}}">{{station.name}}</option>
                        {% endif %}
                      {% endfor %}

                      {% if stations %}
                        <option value="all">{% if useri.langSet == 0 %}Vituo Vyote{% else %}All Stations{% endif %}</option>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
                        
          </div>


          <script>
            $('#station-selector').change(function(){
                var station = $(this).val();
                if(station == 'all'){
                  window.location.href="/salepurchase/customers?allst=1"
                }else{
                  window.location.href="/salepurchase/customers?st="+station
                }
            })
          </script>

      <div class="table-responsive">
                <table id="all_staffs" class=" smallFont"  >
                    <thead>
                    <tr>
                        <th>{% if useri.langSet == 0 %}Jina{% else %}Name{% endif %} </th>
                        <th>{% if useri.langSet == 0 %}Anwani{% else %}Address{% endif %}</th>
                        <th>{% if useri.langSet == 0 %}Simu{% else %}Phone{% endif %}</th>
                        <th>{% if useri.langSet == 0 %}Barua Pepe{% else %}Email{% endif %}</th>
                        <th>{% if useri.langSet == 0 %}Deni{% else %}Debt{% endif %} <span class="text-primary">{{currencii}}</span> </th>
                        <th>{% if useri.langSet == 0 %}action{% else %}Kitendo{% endif %}</th>
                    </tr>
                    </thead>

                


                    <tbody>
                        {% for s in wateja %}
                            <tr>
                                <td>
                                  <a href="/salepurchase/ViewCustomer?i={{s.cust.id}}" >
                                   {{s.cust.jina |title }}
                                  </a>
                                </td>

                                <td>{{s.cust.address }} </td>
                                <td>{{s.cust.code}}{{s.cust.simu1}} {% if s.cust.simu2 %} ,{{s.cust.code}}{{s.cust.simu2}} {% endif %} </td>
                                <td> {% if s.cust.email %} {{s.cust.email}} {% else %} --- {% endif %} </td>
                                <td class="{% if s.deni > 0 %} brown {% endif %}" > {% if s.deni > 0 %} {{s.deni|floatformat:'-2'|intcomma}} {% else %} --- {% endif %} </td>
                                <td> 
                                   

                                    <a href="/salepurchase/ViewCustomer?i={{s.cust.id}}" class="btn btn-light btn-sm"  title="View" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                            <circle cx="12" cy="12" r="3"></circle>
                                        </svg>
                                      </a>
                                </td>
                          
                            </tr>
                        {% endfor %}

                         
                    </tbody>
                </table>
      </div>

     
    </div>
</div>



<!-- kuongeza Wateja ................................................................ -->
<div class="modal fade" id="wateja-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog animate"  style="-webkit-box-shadow: 0px 0px 38px 11px rgba(0,0,0,0.57); 
    box-shadow: 0px 0px 38px 11px rgba(0,0,0,0.57);" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title latoFont" id="wateja-head">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
              <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
            </svg>
           {% if useri.langSet == 0 %} Ongeza Mteja  {% else %} Add Customer {% endif %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <!-- <form action=""> -->
  
           
          <form action="/salepurchase/addcustomer" data-active_customer=0 data-customer_value=0 data-valued=0 class="pt-3" id="form-mteja">
            {% csrf_token %}
  
            
            <div class="form-group">
             
               <label for="mteja-jina" class="smallFont brown weight600">{% if useri.langSet == 0 %} Jina la Mteja{% else %} Customer Name{% endif %} <sup class="text-danger font-weight-bold">*</sup></label>
             
             
                <input type="text" id="mteja-jina" class="form-control input-data smallFont">
             <small hidden class="smallerFont verify-customer text-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              {% if useri.langSet == 0 %} Tafadhali andika jina la mteja  {% else %} Please write Customer Name {% endif %}
             </small>
       
            </div>
  
            <div class="form-group">
             
               <label for="mteja-sehemu" class="smallFont brown weight600"> {% if useri.langSet == 0 %} Anwani  {% else %} Customer Address{% endif %}<sup class="text-danger font-weight-bold">*</sup> </label>
             
            
                <input type="text" id="mteja-sehemu" placeholder=" {% if useri.langSet == 0 %}Andika sehemu anayopatikana   {% else %} Write customer address {% endif %}" class="form-control input-data smallFont">
                <small hidden class="smallerFont verify-customer text-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                  </svg>
                  {% if useri.langSet == 0 %} Tafadhali Andika mahali mteja anapatikana  {% else %} Please write Customer Address {% endif %}
                 </small>
             
            </div>
  
            <div class="form-group pb-2">
              
               <label for="mteja-simu" class="smallFont brown weight600"> {% if useri.langSet == 0 %}  Namba ya Simu 1 {% else %} Phone 1 {% endif %} <sup class="text-danger font-weight-bold">*</sup></label>
            
              
  
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <input type="text" value="+255" id="mteja-simu-code" class="pl-2 smallerFont made-input simuCode" style="width:58px;">
                  </div>
                     <input type="number" placeholder=" {% if useri.langSet == 0 %} kama.  712345678 {% else %} eg. 712345678{% endif %}" id="mteja-simu" class="form-control made-input input-data smallFont" >
                     <small hidden class="smallerFont verify-customer text-danger">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                      </svg>
                      {% if useri.langSet == 0 %} Tafadhali Andika namba ya simu kwa simu1 kwa usahihi  {% else %}Please write Customer contact 1 correctly {% endif %}
                     </small>
                </div>
  
              
            </div>


            <div class="form-group">
            
               <label for="mteja-simu2" class="smallFont weight600">{% if useri.langSet == 0 %} Namba ya Simu 2  {% else %} Phone 2 {% endif %}: </label>
              
              
  
                <div class="input-group ">
                  <div class="input-group-prepend">
                    <input type="text" value="+255" class="pl-2 made-input simuCode smallerFont" id="mteja-simu2-code" style="width:58px;">
                    <small hidden class="smallerFont verify-customer text-danger">
                      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                      </svg>
                      {% if useri.langSet == 0 %} Tafadhali Andika namba ya simu kwa 2 kwa usahihi  {% else %}Please write Customer contact 2 correctly {% endif %}
                     </small>
                  </div>
                     <input type="number" placeholder=" {% if useri.langSet == 0 %} kama.  712345678 {% else %} eg. 712345678{% endif %}" id="mteja-simu2" class="made-input form-control input-data smallFont" >
  
                </div>
  
            
            </div>

            <script>
              $('#mteja-simu-code2').keyup(function(){
                if($(this).val()){
                   $('#mteja-simu-code').prop('disabled',true)
                   $('#mteja-simu-code').val($(this).val())
                }else{
                  $('#mteja-simu-code').prop('disabled',true)
                   $('#mteja-simu-code').val($(this).val())                
                }
               
              })
  
  
              $('#mteja-simu-code').keyup(function(){
                if($(this).val()){
                   $('#mteja-simu2-code').prop('disabled',true)
                   $('#mteja-simu2-code').val($(this).val())
                }else{
                  $('#mteja-simu2-code').prop('disabled',true)
                   $('#mteja-simu2-code').val($(this).val())                
                }
               
              })
            </script>
  

            <div class="form-group">
              
               <label for="mteja-mail" class="smallFont"> {% if useri.langSet == 0 %} Barua pepe(email)  {% else %} Email Address {% endif %}:  </label>
              
             
                <input type="email" placeholder=" {% if useri.langSet == 0 %} kama.  {% else %} eg. {% endif %} mfanoemail@provider.com"  id="mteja-mail" class="form-control smallFont input-data">
            
            </div>

          <div class="custom-control py-3 custom-checkbox">
            <input type="checkbox" class="custom-control-input cursor-pointer" id="uni_cust">
            <label class="custom-control-label cursor-pointer" for="uni_cust"> 
              {% if useri.langSet == 0 %}
                  Mteja kwa Stationi zote
              {% else %}
                  Universal Customer
              {% endif %}
              
            </label>
          </div>
            
            <div class="row py-3">
            
              <div class="col-12 text-center">
  
                <button type="submit" class="btn btn-primary py-2 latoFont ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                   {% if useri.langSet == 0 %} Ongeza Mteja {% else %} Add Customer {% endif %}
                </button>
              </div>
  
                <div class="col-12 mt-2 text-center">     
                   <button type="button" class="btn btn-light text-center latoFont smallFont" data-dismiss="modal">Close</button>
               </div>
  
            </div>

       
  
          </form>     
  
  </div>
       
      </div>
    </div>
  </div>



{% endblock %}

{% block additionaljs %}
  <script src="{% static 'js/customers.js' %}"></script>


 <script>

$(document).ready(function(){
      $('#all_staffs').DataTable();

    })

</script>
{% endblock %}

{% block customers %} active  {% endblock %}