{% extends 'index.html' %}
{% load humanize %}
{% block page_content %}

<div class="head-title ">
    <div class="left">
        
        {% include 'heading.html' %}
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </li>
            <li>
                <a class="active" href="#"> {% if useri.langSet == 0 %}Kuhamisha Mafuta{% else %} Fuel Transfer{% endif %}</a>
            </li>
        </ul>
    </div>
    
</div>

<div class="table-data" >
    <div class="order">

    {% include 'headingfuel.html' %} 
     
       <div class="head">

           <h5 >&pointint; {% if useri.langSet == 0 %}Kuhamisha mafuta  Tanki kwenda Tanki {% else %} Fuel Tranfer From Tank to Tank{% endif %}</h5>
        
      </div>

     
    

         
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label class="brown" for="tr_date">
                {% if useri.langSet == 0 %}Tarehe Muda{% else %}Date Time{% endif %}
                <sup>*</sup>
            </label>
              <input type="datetime-local" class="form-control" name="tr_date" id="tr_date" aria-describedby="helpId" placeholder="">
            </div>

            <div  class="form-group mb-3 toTankOpt " id="objTest" >
                <label for="OptBtn"> {% if useri.langSet == 0 %}Hamisha Kwenda{% else %}Transfer To{% endif %}: </label>
               <div id="OptBtn" >
                      <span class="border optionbtns " >
                            {% if general %}      
                                <button data-opt="1" disabled   id="StationTankAdj" type="button" class="btn-default btn-sm btn tank_btn_option  " >
                            {%else%}
                                <button data-opt="1"    id="StationTankAdj" type="button" class="btn-default btn-sm btn tank_btn_option  active" >
                            
                            {% endif %}
                                <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="currentColor">
                                        <path d="M160-120q-17 0-28.5-11.5T120-160q0-17 11.5-28.5T160-200h40v-240h-40q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h40v-240h-40q-17 0-28.5-11.5T120-800q0-17 11.5-28.5T160-840h640q17 0 28.5 11.5T840-800q0 17-11.5 28.5T800-760h-40v240h40q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440h-40v240h40q17 0 28.5 11.5T840-160q0 17-11.5 28.5T800-120H160Zm320-200q50 0 85-34.5t35-83.5q0-39-22.5-67T480-620q-75 86-97.5 114.5T360-438q0 49 35 83.5t85 34.5Z"/>
                                    </svg>
                                {% if useri.langSet == 0 %}Matanki ya Pampu{% else %}Station Tanks{% endif %}
                            </button>    

                            <button type="button" id="moveTankAdj"  data-opt="2"  class="btn-default btn-sm btn tank_btn_option {%if general %}active{%endif%}" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1.1em" height="1.1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck">
                                        <rect x="1" y="3" width="15" height="13"></rect>
                                        <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                                        <circle cx="5.5" cy="18.5" r="2.5"></circle>
                                        <circle cx="18.5" cy="18.5" r="2.5"></circle>
                                    </svg>
                                {% if useri.langSet == 0 %}Tanki linalotembea{% else %}Moving Tanks{% endif %}
                            </button>



                           
                      </span>
               </div>

               <script>
                    $('.tank_btn_option').click(function(){
                         $('.tank_btn_option').removeClass('active')
                         $(this).addClass('active')
                         $('.trOpt').prop('hidden',true)
                        const opt = $(this).data('opt')
                        $(`.trOpt${opt}`).prop('hidden',false)
                             
                         
                    })
               </script>
  
              </div>

             <div class="form-group row mb-3">
                <div class="col-6">
                        <label for="containerTr" class="brown" >
                            {% if useri.langSet == 0 %}Kutoka {% else %}From {% endif %} <sup>*</sup>
                        </label>
                        <select data-set="#FromTankIncharge" data-frm=1 data-filter="FrmTank" class=" form-control bluePrint border selectpicker tankContainers" 
                            
                                    data-live-search="true" name="containerTr" id="containerTr">
                                        <option value=0 selected>-----------</option>
                                        {% for t in tankContainer %}
                                         <option data-by="{{t.tank.by.id}}" data-is_tr=1 value={{t.tank.id}}>{{t.tank.name}}</option>
                                        {% endfor %}
                                        {% for o in otherTr %}
                                           <option data-is_othr=1 data-by="{{o.transfer.Transfer_by.id}}" value={{o.transfer.id}}>{{o.transfer.otherCont}} | {{o.transfer.record_by.Interprise.name}}</option> 
                                        {% endfor %}

                        </select>  

                </div>
                <div class="col-6">
                        <label for="FromTankIncharge"  >
                            {% if useri.langSet == 0 %}Mhusika{% else %}Incharge{% endif %} 
                        </label>
                            <select class="form-control border selectpicker" 
                                onchange="$(this).selectpicker('setStyle', 'bluePrint')"
                                data-live-search="true" name="FromTankIncharge" id="FromTankIncharge">
                                <option value=0>-------</option>
                                {% for u in tr_by %}
                                        
                                <option value={{u.id}} >{{u.user.first_name|title}}  {{u.user.last_name|title}}</option>

                                {%endfor%}
                            </select>                    
                </div>

              </div>

             <div class="form-group mb-3 row  trOpt trOpt2" id="toMovingTank" hidden >
                <div class="col-6">
                    <label for="containerTrTo" class="brown" >
                        {% if useri.langSet == 0 %}Kwenda Kontena{% else %}To Container{% endif %} <sup>*</sup>
                    </label>
                    <select data-set="#ToTankIncharge" data-filter="Mv_Tanks" class=" form-control bluePrint border selectpicker tankContainers" 
                        
                                data-live-search="true" name="containerTrTo" id="containerTrTo">
                                    <option value=0 selected>-----------</option>
                                    {% for t in tankContainer %}
                                    <option  data-by="{{t.tank.by.id}}" value={{t.tank.id}}>{{t.tank.name}}</option>
                                    {% endfor %}
                        </select> 
                </div>



                     <div class="col-6">
                        <label for="ToTankIncharge"  >
                            {% if useri.langSet == 0 %}Mhusika{% else %}Incharge{% endif %} 
                        </label>
                            <select class="form-control border selectpicker" 
                                onchange="$(this).selectpicker('setStyle', 'bluePrint')"
                                data-live-search="true" name="ToTankIncharge" id="ToTankIncharge">
                                <option value=0>-------</option>
                                {% for u in tr_by %}
                                        
                                <option value={{u.id}} >{{u.user.first_name|title}}  {{u.user.last_name|title}}</option>

                                {%endfor%}
                            </select>                    
                     </div>
              </div>

              <div class="form-group mb-3">
                <label for="TankSupVisor" class="brown" >
                    {% if useri.langSet == 0 %}Msimamizi Kuhamisha{% else %}Transfer Supervisor{% endif %} <sup>*</sup>
                </label>
                <select class="form-control border selectpicker"
                onchange="$(this).selectpicker('setStyle', 'bluePrint')"
                data-live-search="true" name="TankSupVisor" id="TankSupVisor">
                   <option value=0  >-------</option>
                   {% for u in tanksSup %}
                           
                   <option value={{u.id}}>{{u.user.user.first_name|title}}  {{u.user.user.last_name|title}}</option>

                {%endfor%}
                </select>
              </div>


             <div class="form-group">
                       <select  hidden class=" form-control bluePrint border  " 
                        
                                name="ToStation" id="ToStation">
                                   
                                    <option  value={{shell.id}}>{{shell.name}}</option>
                                   
                        </select> 
             </div>
        


           
        </div>
      </div>

   <h6 class="weight600 mt-3"> {% if useri.langSet == 0 %} Kuhamisha{% else %}Transfer {% endif %}</h6>
   
     <div class="table-responsive">
        <table class="table-sm">
            <thead>
                <th>#</th>
                <th class="fromTanks" >{% if useri.langSet == 0 %}Kutoka/Tanki{% else %}From Tank{% endif %}</th>
                <th>{% if useri.langSet == 0 %}Mafuta{% else %}Fuel{% endif %}</th>
                <th>{% if useri.langSet == 0 %}Kwenda/Tanki{% else %}To Tank{% endif %}</th>
                <th>{% if useri.langSet == 0 %}Stick/Kabla{% else %}Stick/Before{% endif %} <span class="text-primary">LTRS</span> </th>
                <th>{% if useri.langSet == 0 %}Stick/Baada{% else %}Stick/After{% endif %} <span class="text-primary">LTRS</span></th>
                <th>{% if useri.langSet == 0 %}Kiasi/Hamishwa{% else %}Tranfered/Qty{% endif %} <span class="text-primary">LTRS</span></th>
                <th>{% if useri.langSet == 0 %}Ondoa{% else %}Remove{% endif %} </th>
            </thead>      
            <tbody id="trRows" >
                <tr data-pos=1 >
                    <td  class="IndexNo" data-pos=1 >1</td>
                        <td class="px-1 fromTanks"> 
                            <select class="trFr_tanks FrmTank form-control btn-sm bluePrint  " 
                                data-pos=1 disabled
                                    name="FrmTank1" id="FrmTank1">
                                    <option value=0 data-value=0 selected>-----------</option>
                                    {% for t in tr_tank %}
                                        <option data-val="{{t.id}}" data-cost="{{t.cost}}" data-cont="{{t.tank.id}}" data-fname="{{t.fuel.name}}" data-qty="{{t.qty}}" data-fuel="{{t.fuel.id}}" value={{t.id}}>{{t.name}}</option>
                                    {% endfor %}
                            </select>
                        </td>
                        <td class="px-1"  >
                            <div id="showFuel1" class="fromTanks">------</div>  
                               <select name="FuelOpt1" hidden id="FuelOpt1" data-pos=1 class="form-control brown incaseIsFuel">
                                 <option value=0 data-value=0 selected>-----------</option>
                                 {% for f in trFuel %}
                                    <option value={{f.Fuel.id}} data-cost="{{f.cost}}" data-tr="{{f.tr}}" data-fname="{{f.Fuel.name}}" data-fuel="{{f.Fuel.id}}" data-qty="{{f.qty}}" data-pu=0 data-value={{f.Fuel.id}}  >{{f.Fuel.name}}</option>  
                                 {% endfor %}
                              </select>
                        </td>

                        <td class="px-1">
                               <select hidden  class="Mv_Tanks  form-control border  trOpt trOpt2 btn-sm bluePrint  " 
                                        data-pos=1 disabled
                                        name="Mv_Tanks1" id="Mv_Tanks1">
                                        <option value=0 data-value=0 selected>-----------</option>
                                        {% for t in tr_tank %}
                                            <option data-val="{{t.id}}" data-minm="{{t.minm}}" data-fname="{{t.fuel.name}}" data-qty="{{t.qty}}" data-cont="{{t.tank.id}}" data-fuel="{{t.fuel.id}}" value={{t.id}}>{{t.name}}</option>
                                        {% endfor %}
                                </select>

                                <select class=" pmp_Tanks form-control btn-sm bluePrint trOpt trOpt1" data-pos=1
                                    name="pmp_Tanks1" id="pmp_Tanks1">
                                    <option value=0 data-val=0 selected>-----------</option>
                                    {% for t in shell_tanks %}
                                        <option data-val="{{t.id}}" data-minm="{{t.minm}}" data-fname="{{t.fuel.name}}" data-qty="{{t.qty}}" data-fuel="{{t.fuel.id}}" value={{t.id}}>{{t.name}}</option>
                                    {% endfor %}
                                </select>
                        </td>   
                        <td class="px-1">
                                <div class="input-group  " >                   
                                    <div class="show_curency_inline show_curency position-absolute   px-3" style="display: none ;">
                                        <label class="mt-1 text-danger " for="FuelPriceTotal"></label> 
                                    <div class="box-pointer d-inline "></div>
                                    </div>
                                    <input type="number" data-pos=1   style="width: 150px;background-color: var(--whiteBg);color:var(--inputColor)"  step="0.01"  id="stickB1"  class="mvqty money-fomat btn-sm form-control AllAdjTanks weight600">
                                </div>
                        </td>                 
                        <td class="px-2">
                            <div class="input-group  " >                   
                                    <div class="show_curency_inline show_curency position-absolute   px-3" style="display: none ;">
                                        <label class="mt-1 text-danger " for="FuelPriceTotal"></label> 
                                    <div class="box-pointer d-inline "></div>
                                    </div>
                                    <input type="number" data-pos=1   style="width: 150px;background-color: var(--whiteBg);color:var(--inputColor)"  step="0.01"  id="stickA1"  class="mvqty money-fomat form-control btn-sm AllAdjTanks weight600">
                                </div>        
                        </td>                 
                        <td class="px-1">
                             <input type="text" readonly  id="mvqty1" class="form-control btn-sm">
                        </td>         
                            <td class="pl-2" >
                                    <a type="button" data-pos=1 class="brown rowRemoveBtn text-danger" >
                                       <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus-circle">
                                           <circle cx="12" cy="12" r="10"></circle>
                                           <line x1="8" y1="12" x2="16" y2="12"></line>
                                       </svg>
                                    </a> 
                               </td>         
                </tr>

            </tbody>      
        </table>

     </div>


     <p class="text-right">
        <button class="btn text-primary btn-default btn-sm" id="AddTransfrow" >
            + Add
        </button>
     </p>

     <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="form-group">
              <label for="tr_remarks">{% if useri.langSet == 0 %}Maelekezo{% else %}Remarks{% endif %}</label>
              <textarea class="form-control" name="tr_remarks" id="tr_remarks" rows="3"></textarea>
            </div>
        </div>
     </div>

        <div id="fuelRed" hidden >
             <span class="mx-1 brown">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
                    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                    <line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
             </span>

             <span>
                  {% if useri.langSet == 0 %}
                     Tanki moja linawekewa <span class="brown">Mafuta tofauti</span> 
                  {% else %}
                     One storage tank if filled with  <span class="brown">different fuel</span>
                  {% endif %}
             </span>

       </div>

        <div id="fuelexceed" hidden >
             <span class="mx-1 brown">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-triangle">
                    <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
                    <line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line>
                </svg>
             </span>

             <span class="brown" >
                  {% if useri.langSet == 0 %}
                     Mafuta yanayohamishwa yanazidi mafuta yaliyo kwenye tank 
                  {% else %}
                     Transfered fuel exceeds the actual tank fuel qty
                  {% endif %}
             </span>

       </div>

     <p class="text-right">
        <button id="saveTrBtn" class="btn  btn-primary btn-sm">
            Save
        </button>
     </p>    
              
    </div>

</div>

    




{% endblock %}

{% block additionaljs %}
 <script src="/static/js/fuelreceive.js"></script>
{% endblock %}

{% block fuel %} active {% endblock %}