
{% extends 'index.html' %}

{% load static %}
{% load humanize %}
{% block page_content %}

<div class="head-title">
    <div class="left">
        
        {% include 'heading.html' %}
        <ul class="breadcrumb">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right">
                <polyline points="9 18 15 12 9 6"></polyline>
                </svg>
            </li>
            <li>
                <a class="active" href="#"> {% if useri.langSet == 0 %}Mpangilio {% else %} Settings{% endif %}</a>
            </li>
        </ul>
    </div>
    
   


</div>

<div class="table-data">
    <div class="order">

           
          
        
		<div class=" px-3" id="colorMode" >
            <h6>{% if useri.langSet == 0 %} Muonekano{% else %}Theme{% endif %}</h6>

             <div class="d-flex">
                    <div >	
                        {% if useri.darkMode %}	
                            <input type="checkbox" checked id="switch-mode" hidden>
                        {% else %}
                            <input type="checkbox" id="switch-mode" hidden>
                        {% endif %}    
                        <label for="switch-mode" class="switch-mode"></label>
                    </div>

                    <div class=" fontColor ml-2">				  
                        {% if useri.langSet == 0 %} Rangi Nyeusi {% else %}Dark Mode {% endif %}
                    </div>
             </div>

				
		</div>

        <!-- company details settings -->

        <hr>
        {% if useri.admin %}
        <div class=" px-3" id="companyDetails" >

            <h6>
                <a style="color:var(--fontColor)" href="/companyDetails">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase mr-1" viewBox="0 0 24 24">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"/>
                        <path d="M16 3h-8a2 2 0 0 0-2 2v2h12V5a2 2 0 0 0-2-2z"/>
                    </svg>
                    {% if useri.langSet == 0 %} Taarifa za Kampuni {% else %} Company Details {% endif %}
                </a>
                </h6>

             
            </div>


            <hr>
        {% endif %}

        <!-- user profile settings -->
        <div class=" px-3" id="userProfile" >
            <h6>
                <a style="color:var(--fontColor)" href="/UserProfile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user mr-1" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
                        <circle cx="12" cy="7" r="4"/>
                    </svg>
                    {% if useri.langSet == 0 %} Profaili Yangu {% else %} My Profile {% endif %}
                </a>
        </h6>


        </div>
     {% if useri.admin and not general %}
       <hr>
		 <div class="row px-3" >
                        <div class="col-6 col-lg-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign mr-1" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="10"/>
                                <path d="M12 6v12M9 9h6a2 2 0 0 1 0 4H9m6 4H9a2 2 0 0 1 0-4h6"/>
                            </svg>
                            {% if useri.langSet == 0 %}Usimamizi Kudipositi{% else %}Cash Deposit Supervisor{% endif %}:
                        </div>
                        <div class="col-6 col-lg-9">
                            
                            <label class="switch">
                                {% if useri.acc_supv %}
                                <input type="checkbox" checked data-dsup=1 >
                                {% else %}
                                <input type="checkbox" data-dsup=1 >
                                {% endif %}
                                <span class="slider"></span>
                            </label>

                        </div>
                </div>

                     <script>
                        $('.switch input').change(function(){
                            $('#loadMe').modal('show')
                            const check = Number($(this).is(':checked')),
                                
                               
                                user = Number('{{cheo.id}}'),
                               
                                dsup = Number($(this).data('dsup')) || 0,
                           


                                data = {
                                    data:{
                                        check,
                                        allow:0,
                                        manager:0,
                                        incharge:0,
                                        ceo:0,
                                        op:0,
                                        sup:0,
                                        pu:0,
                                        exp:0,
                                        dsup,
                                        cust:0,
                                    user},
                                    url:'/staffs/permit'
                                }
                                
                                sendIt = POSTREQUEST(data)
                                sendIt.then(resp=>{
                                    $('#loadMe').modal('hide')
                                    hideLoading()

                                        if(resp.success){
                                            toastr.success(lang(resp.msg_swa,resp.msg_eng), lang('Imefanikiwa','Success '), {timeOut: 2000});
                                            location.reload()
                                        }else{
                                                $('#loadMe').modal('hide')   
                                                toastr.error(lang(resp.msg_swa,resp.msg_eng), lang('Haikufanikiwa','Error '), {timeOut: 2000});

                                        }
                                })


                        })
                    </script>
     {% endif %}   
    </div>


{% endblock %}

{% block additionaljs %}
 
 <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block settings %} active  {% endblock %}