{% extends 'shiftsActivity.html' %}
{% load humanize %}
{% load static %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/customerPayments.css' %}">
{% endblock %}

{% block activityHead %}
   {% if useri.langSet == 0 %}Kuweka Cash Benki{% else %}Cash Deposit {% endif %}
{% endblock %}

{% block tab_deposits %}active{% endblock %}

 {% block shiftactivity %} 

   <div class="head">
        <h5 >
           <svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 -960 960 960" width="1.3em" fill="currentColor">
            <path d="M200-280v-280h80v280h-80Zm240 0v-280h80v280h-80ZM80-120v-80h800v80H80Zm600-160v-280h80v280h-80ZM80-640v-80l400-200 400 200v80H80Zm178-80h444-444Zm0 0h444L480-830 258-720Z"/> 
          </svg>
                
                {% if useri.langSet == 0 %}Kuweka Cash Benki{% else %}Cash Deposit {% endif %}</h5>
      </div>



<!-- <div class="payment-actions">
    <button id="approvePayments" class="btn btn-success">
        {% if useri.langSet == 0 %}Hakiki Yote{% else %}Approve All{% endif %} (<span id="unapprovedCount">0</span>)
    </button>
</div> -->

<div id="paymentSummary">

     <div class="payment-filters ">

    {% csrf_token %}

     <div class="filter-group">
        <label>{% if useri.langSet == 0 %}Kituo{% else %}Station{% endif %}:</label>
        <div class="input-group">
            <select id="stationFilter" class="form-control">
                {% if not general %}
                        <option value="{{shell.id}}" data-stxn="{{shell.name}}" >{{shell.name}}</option>
                        
                        {% if useri.admin or useri.ceo %}
                            
                        {% for station in stations %}
                            {% if station != shell %}
                                <option value="{{ station.id }}" data-stxn="{{station.name}}">{{ station.name }}</option>
                            {% endif %}
                        {% endfor %}
                        <option value=0 >{% if useri.langSet == 0 %}Vituo Vyote{% else %}All Stations{% endif %}</option>
                        {% endif %}
                 {% else %}   
                    <option value=0 >{% if useri.langSet == 0 %}Vituo Vyote{% else %}All Stations{% endif %}</option>
                    {% for station in stations %}
                        <option value="{{ station.id }}" data-stxn="{{station.name}}">{{ station.name }}</option>
                    {% endfor %}
                 {% endif %}    

            </select>

                <div class="input-group-append dropdown">
                                
                        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{% if useri.langSet == 0 %}Fungua chaguo{% else %}Toggle options{% endif %}" aria-label="{% if useri.langSet == 0 %}Fungua chaguo{% else %}Toggle options{% endif %}">
                            <span class="sr-only">{% if useri.langSet == 0 %}Fungua chaguo{% else %}Toggle options{% endif %}</span>
                        </button>
                        
                        <div class="dropdown-menu" id="common_duration" >
                            <a class="dropdown-item duration-option" type="button" onclick="createArray('{% if useri.langSet == 0  %}Wiki Ilopita {% else %}Last Week {% endif %}',moment().startOf('isoWeek').subtract(1,'days').startOf('isoWeek').format(),moment().startOf('isoWeek').subtract(1,'days').endOf('isoWeek').format())" data-value="this_month">{% if useri.langSet == 0 %}Wiki Ilopita {% else %}Last Week{% endif %}</a>
                            <a class="dropdown-item duration-option" type="button" onclick="createArray('{% if useri.langSet == 0 %}Mwezi ulopita{% else %}Last Month{% endif %}',moment().startOf('month').subtract(1,'days').startOf('month').format(),moment().startOf('month').subtract(1,'days').endOf('month').format())" data-value="last_month">{% if useri.langSet == 0 %}Mwezi Uliopita{% else %}Last Month{% endif %}</a>
                            <!-- <a class="dropdown-item duration-option" type="button" data-value="this_year">{% if useri.langSet == 0 %}Mwaka Huu{% else %}This Year{% endif %}</a> -->
                            <a class="dropdown-item duration-option"  type="button" data-toggle="modal" data-target="#durationModal" id="custom_date_select" data-value="custom_date">{% if useri.langSet == 0 %}Weka Muda{% else %}Custom Date{% endif %}</a>
                        
                        </div>
                </div>

        </div>
    </div>

    <div class="filter-group">
        <!-- <label> {% if useri.langSet == 0 %}Aina ya Malipo{% else %}Payment Type{% endif %}:</label>
        <select id="paymentTypeFilter" class="form-control">
            <option value="all"> {% if useri.langSet == 0 %}Malipo yote{% else %}All Payments{% endif %}</option>
            <option value="mobile"> {% if useri.langSet == 0 %}Malipo ya Simu{% else %}Mobile Payment{% endif %}</option>
            <option value="debt"> {% if useri.langSet == 0 %}Malipo ya Madeni{% else %}Debt Payment{% endif %}</option>
        </select> -->
    </div>
    </div>


    <h6 class="weight600" > 
        {% if useri.langSet == 0 %}Mhutasari Kuweka Fedha Benki {% else %}Cash Deposit Summary {% endif %} 
    </h6>
    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>{% if useri.langSet == 0 %}Muda{% else %}Duration{% endif %}</th>
                    <th>{% if useri.langSet == 0 %}Rekodi{% else %}Records{% endif %}</th>
                    <th>{% if useri.langSet == 0 %}Kiasi{% else %}Amount{% endif %}</th>
                    <th>{% if useri.langSet == 0 %}Uhakiki{% else %}Approval{% endif %}</th>
                </tr>
               
            </thead>
            <tbody id="paymentSummaryBody">
               
            </tbody>
        </table>
    </div>
</div>

<div id="paymentDetails" class="mt-4" style="display:none">
    <div >
        <button class="btn btn-sm btn-outline-secondary" id="backToSummary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
            </svg>
            {% if useri.langSet == 0 %}Rudi{% else %}Back{% endif %}
        </button>
        <h6 id="paymentDetailsTitle"  class="d-inline weight600 ml-2">{% if useri.langSet == 0 %}Maelezo ya Malipo{% else %}Payment Details{% endif %}</h6>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <div></div>
        <div class="btn-group" role="group" id="payControlBtns" >
            {% if useri.admin %} 
            <button id="approveAllPayments" data-toggle="modal" data-target="#confirmApprovalModal" disabled class="btn btn-success smallFont weight200 btn-sm" >
                {% if useri.langSet == 0 %}Hakiki {% else %}Approve {% endif %} (<span id="unapprovedCount">0</span>)
            </button>
            {% endif %}

            <button id="printPayments" class="btn btn-secondary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M2.5 1A1.5 1.5 0 0 0 1 2.5v3A1.5 1.5 0 0 0 2.5 7h1v1h6v-1h1A1.5 1.5 0 0 0 15 5.5v-3A1.5 1.5 0 0 0 13.5 1h-11zM2 2.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-3z"/>
                    <path d="M2 7v3a1.5 1.5 0 0 0 1.5 1.5h9A1.5 1.5 0 0 0 14 10V7H2z"/>
                </svg>
                {% if useri.langSet == 0 %}Chapisha{% else %}Print{% endif %}
            </button>
        </div>
    </div>

    <div id="toFocus">

    </div>

        <div class="table-responsive"  id="paymentsTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% if useri.admin %}
                        <th class=" cursor-pointer text-center " >
                            <input type="checkbox" class="cursor-pointer" id="selectAllPayments" data-ckeckall=1 title="{% if useri.langSet == 0 %}Chagua Yote{% else %}Select All{% endif %}">
                        </th>
                        {% endif %}

                        <th>#</th>
                        <th>{% if useri.langSet == 0 %}TareheMuda{% else %}DateTime{% endif %}</th>
                        
                        <th> {% if useri.langSet == 0 %}Kituo{% else %}Station{% endif %}</th>
                        <th> {% if useri.langSet == 0 %}Na{% else %}By{% endif %}</th>
                        <th> {% if useri.langSet == 0 %}Kiasi/Kabla{% else %}Cash/Before{% endif %}<span class="text-primary">{{currencii}}</span></th>
                        <th> {% if useri.langSet == 0 %}Kiasi/Baada{% else %}Cash/After{% endif %}<span class="text-primary">{{currencii}}</span></th>

                        <th> {% if useri.langSet == 0 %}Akaunti{% else %}Account{% endif %}</th>
                         <th> {% if useri.langSet == 0 %}Kabidhiwa{% else %}Given To{% endif %}  </th>

                        <th> {% if useri.langSet == 0 %}Kiasi{% else %}Amount{% endif %} <span class="text-primary">{{currencii}}</span> </th>
                        <th> {% if useri.langSet == 0 %}Hali{% else %}Status{% endif %}</th>
                    </tr>
                </thead>
                <tbody id="paymentsBody"></tbody>
            </table>    
        </div>    
</div>



<!-- Add duration Modal -->
<div class="modal fade" id="durationModal" tabindex="-1" role="dialog" aria-labelledby="durationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="durationModalLabel">{% if useri.langSet == 0 %}Chagua Muda{% else %}Select Duration{% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="durationName">{% if useri.langSet == 0 %}Jina la Muda{% else %}Duration Name{% endif %}:</label>
            <input type="text" id="durationName" class="form-control"> 
        </div>
        <div class="form-group">
            <label for="startDate">{% if useri.langSet == 0 %}Tarehe ya Kuanza{% else %}Start Date{% endif %}:</label>
            <input type="date" id="startDate" class="form-control"> 
        </div>
        <div class="form-group">
            <label for="endDate">{% if useri.langSet == 0 %}Tarehe ya Kumaliza{% else %}End Date{% endif %}:</label>
            <input type="date" id="endDate" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% if useri.langSet == 0 %}Fungua{% else %}Close{% endif %}</button>
        <button type="button" class="btn btn-primary" id="customDateSubmit">{% if useri.langSet == 0 %}Ongeza{% else %}Add{% endif %}</button>
      </div>
    </div>
  </div>
</div>



<!-- payment edit modal -->
<div class="modal fade" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="editPaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPaymentModalLabel">{% if useri.langSet == 0 %}Hariri Muamala wa Kuhamisha Pesa{% else %}Edit Cash Transfer Transaction{% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="editPaymentForm">
            {% csrf_token %}
            <input type="hidden" id="editPaymentId">
            <div class="form-group">
                <label for="editCustomerName">{% if useri.langSet == 0 %} Akaunti Cash{% else %}Cash Account {% endif %}:</label>
                <input type="text" id="editCustomerName" value="{{shell.name}} Cash" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label for="malipo-akaunti">{% if useri.langSet == 0 %}Kwenda Akaunti{% else %}To Account {% endif %}:</label>
                   <select name="accaunti"
                      onchange="if($(this).find('option:selected').data('value')!=0){
                          $('#invo_submited').prop('disabled',false)
                          
                        }else{
                            $('#invo_submited').prop('disabled',true)

                        }"
                      id="malipo-akaunti"  class="form-control border machaguo-pesa smallFont selectpicker" data-live-search="true">
                        <option value=0 data-value=0 data-amount=0 >{% if useri.langSet == 0 %}--Chagua Akaunti--{% else %}--Select Account--{% endif %}</option>
                        {% for ac in payacc %}
                        {% if ac.aina != "Cash" %}
                          <option value={{ac.id}} data-amount={{ac.Amount}} data-value="{{ac.id}}" >{{ac.Akaunt_name}}</option>
                        {% endif %}
                        {%endfor%}
                    </select>   
            </div>
            <div class="form-group">
                <label for="editPaymentAmount">{% if useri.langSet == 0 %}Kiasi Kilichohamishwa{% else %}Transfered Amount{% endif %}:</label>
                <div class="show_curency_block show_curency position-absolute   px-3" style="display: none ;">
                        <label class="mt-1 text-danger " for="editPaymentAmount"></label> 
                        <div class="box-pointer d-inline "></div>
                </div>
                <input type="number" step="0.01" id="editPaymentAmount" class="form-control money-fomat">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% if useri.langSet == 0 %}Funga{% else %}Close{% endif %}</button>
        <button type="button" class="btn btn-primary" id="savePaymentChanges">{% if useri.langSet == 0 %}Hifadhi Mabadiliko{% else %}Save Changes{% endif %}</button>
        </div>
    </div>
    </div>
    </div>
        

<!-- confirm payment delete modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">{% if useri.langSet == 0 %}Thibitisha Kufuta Malipo{% else %}Confirm Payment Deletion{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% if useri.langSet == 0 %}Je, unataka kufuta malipo haya?{% else %}Are you sure you want to delete this payment?{% endif %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% if useri.langSet == 0 %}Funga{% else %}Close{% endif %}</button>
                <button type="button" class="btn btn-danger" id="confirmDeletePayment">{% if useri.langSet == 0 %}Futa{% else %}Delete{% endif %}</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Approval modal -->
<div class="modal fade" id="confirmApprovalModal" tabindex="-1" role="dialog" aria-labelledby="confirmApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmApprovalModalLabel">{% if useri.langSet == 0 %}Thibitisha Uhakiki wa Malipo{% else %}Confirm Payment Approval{% endif %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% if useri.langSet == 0 %}Je, unataka kuhakiki malipo yote yaliyochaguliwa?{% else %}Are you sure you want to approve all selected payments?{% endif %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% if useri.langSet == 0 %}Funga{% else %}Close{% endif %}</button>
                <button type="button" class="btn btn-success" id="confirmApprovePayments">{% if useri.langSet == 0 %}Hakiki{% else %}Approve{% endif %}</button>
            </div>
        </div>
    </div>
</div>


 {% endblock %}

{% block additionaljs %} 

<script src="{% static 'js/shiftCashDeposit.js' %}"></script>

{% endblock %}